:root {
    --text: rgb(239, 239, 241);
    --background: rgb(9, 9, 12);
    --primary: rgb(83, 101, 165);
    --secondary: rgb(44, 60, 113);
    --accent: rgb(67, 98, 202);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

html {
    font-size: 100%; /* 16px */
}

h1 {
    font-size: 4.21rem;
} /* 67.36px */
h2 {
    font-size: 3.158rem;
} /* 50.56px */
h3 {
    font-size: 2.369rem;
} /* 37.92px */
h4 {
    font-size: 1.777rem;
} /* 28.48px */
h5 {
    font-size: 1.333rem;
} /* 21.28px */

small {
    font-size: 0.75rem;
} /* 12px */

body {
    padding: 15px;
    background-color: var(--background);
    color: var(--text);
}

header {
    width: calc(100% - 15px - 5px);
    height: 30px;
    background-color: var(--secondary);
    padding: 10px;
    display: block;
    border-radius: 10px;
    background: none;
    position: fixed;
    z-index: 999;
    pointer-events: none;
}

header > * {
    cursor: pointer;
    text-shadow: 3px 3px black;
    transition: transform 0.25s ease-in-out;
    pointer-events: all;
}
header > *:hover {
    transform: scale(110%);
}

header > *:not(:last-child) {
    margin-right: 12px;
}

.siteTitle {
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.icon {
    width: auto;
    position: relative;
    height: 36px;
    margin: 0;
    margin-right: 6px;
    top: 5px;
    transition: transform 0.15s ease-in-out;
}

.icon:hover {
    transform: scale(120%);
}

.siteIcon {
    content: url("/static/favicon.png");
}

* {
    margin: 0;
}

#over {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#banner {
    width: 100%;
    height: 209px;
    mask-image: none;
    margin-top: 15px;
    -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
    );
    object-fit: cover;
}

#title {
    margin-bottom: 15px;
}

#episodes,
input,
ul {
    margin: auto;
    width: 75%;
    height: fit-content;
    background-color: var(--secondary);
    padding: 15px;
    border-radius: 15px;
    clear: both;
    text-align: left;
    font-size: large;
}

#episodes {
    display: flex;
    flex-wrap: wrap; /* Prevent wrapping to the next line */
    overflow-x: auto;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    font-weight: 700;
}

ul {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    font-weight: 700;
}

input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 2px black solid;
    color: var(--text);
    margin-bottom: 15px;
}

#episodes > a {
    background-color: var(--primary);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--text);
    font-weight: 800;
    margin-bottom: 5px;
    display: block;
    border: 2px black solid;
}
#episodes > a:not(:last-child) {
    margin-right: 5px;
}

.result {
    background-color: var(--accent);
    display: block;
    padding: 10px;
    border-radius: 15px;
    font-weight: 800;
    cursor: pointer;
}

.result:not(:last-child) {
    margin-bottom: 20px;
}

.result > * {
    text-align: left;
}
