<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <title>Loading...</title>
        <link rel="stylesheet" href="/static/styles.css" />
        <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
        <header><i onclick="location.href = '/'" class="fa-solid fa-magnifying-glass fa-2x"></i></header>
        <img id="banner"><h2 id="title"></h2></img>
        <img id="cover"/>
        <div id="tags"></div>
        <input type="number" placeholder="Episode Number (ex. 399)" id="direct">
        <div id="episodes"></div>
        <div id="over"></div>

        <script>
            document.body.setAttribute("url", "{{url}}")
        </script>
        <script src="/static/infoscript.js"></script>
    </body>
</html>
