<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
        <title>Search</title>
        <link rel="stylesheet" href="static/styles.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        />
    </head>
    <body>
        <header>
            <i
                onclick="location.href = '/'"
                class="fa-solid fa-magnifying-glass fa-2x"
            ></i>
        </header>
        <h3 class="siteTitle"><i class="icon siteIcon"></i>AS.tv-mirror</h3>
        <input type="text" placeholder="One Piece" />
        <ul></ul>

        <script>
            document.body.setAttribute("url", "{{url}}");
        </script>
        <script src="static/searchscript.js"></script>
    </body>
</html>
